---
Language:        Cpp
BasedOnStyle:  Microsoft
IndentPPDirectives: AfterHash
PPIndentWidth: 3
BreakAfterAttributes: Always
ColumnLimit: 100
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AttributeMacros:
    - CT_PRINTF
    - CONSTFN
    - PUREFN
    - HOTFN
    - COLDFN
    - CT_ALLOC
    - NODISCARD
    - USE_DECL
...
