---
BasedOnStyle: LLVM
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
SpaceBeforeParens: ControlStatements
IndentPPDirectives: AfterHash
IndentWidth: 4
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
ColumnLimit: 120
BreakBeforeBraces: Attach
...
