---
Language: Cpp
BasedOnStyle: Microsoft
IndentPPDirectives: AfterHash
PPIndentWidth: 3
ColumnLimit: 100
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignOperands: true
PenaltyBreakAssignment: 50
BreakBeforeTernaryOperators: true
# AlignOperands: DontAlign
AlignEscapedNewlines: Left
BreakAfterAttributes: Always
...
