@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body { 
    font-family: 'Fira Code', monospace;
    display: block;
}

.wrapper {
    display: flex;
}

.header {
    display: inline-block;
    text-align: center;
    width: 20%;
    font-size: xx-large;
}

.subtext {
    font-size: medium;
}

.header > img {
    display: block;
    width: 100%;
}

.specification {
    margin: 5% 10% 0% 10%;
}

.specification > h1 {
    text-align: center;
}

.content {
    text-align: left;
}

.term {
    float: right;
    font-weight: bold;
}

.grammar {
    white-space: pre-wrap;
    text-align: left;
}